#params {
    position: absolute;

    top: 1em;
    left: 1em;

    width: 10em;
}

#params > * {
    display: block;
}

#components {
    position: relative;

    text-align: center;
}

#components > * {
    display: inline-block;
}

.component:hover {
    cursor: pointer;
    opacity: 0.9;
}

.component.selected {
    border: 1px dotted cornflowerblue;
    box-sizing: content-box;
}

.component .ruler {
    border: 2px solid white;
    border-radius: 100%;
    position: absolute;

    height: 0.5em;
    width: 0.5em;

    box-sizing: border-box;
}

.component .delete-sign {
    position: absolute;
    opacity: 0.5;

    line-height: 0.9em;

    height: 0.5em;
    width: 0.5em;

    text-align: center;

    background: black url("../img/cross.png") no-repeat center center;
    background-size: 100%;
}

.component .delete-sign:hover {
    opacity: 0.9;
}