#score {
    position: absolute;

    top: 1em;
    left: 1em;

    height: 10em;
    width: 10em;

    background-color: white;
    border: 1px solid crimson;

    font-weight: bold;
}

#score > #scores {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

#score > #scores > * {
    padding: 1em;
}

#controls {
    position: absolute;

    top: 12em;
    left: 1em;

    height: 15em;
    width: 10em;

    text-align: center;
}

#controls > #buttons {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

#controls .button {
    display: inline-block;
    width: 5em;
    padding: 1em;
    margin-top: 1em;
    border: 1px solid crimson;

    font-weight: bold;
}

#controls .button:hover {
    background-color: indianred;
    cursor: pointer;
    color: white;
}

#controls .button:first-of-type {
    margin-top: 0;
}

#scheme {
    position: absolute;

    top: 1em;
    bottom: 1em;
    left: 12em;
    right: 1em;

    background-color: white;
    border: 1px solid crimson;
}

#scheme > * {
    position: absolute;
}


.switch {
    height: 3em;
    width: 2em;

    cursor: pointer;
}

.switch:hover {
    opacity: 0.9;
}

.switch.on {
    background: url("../img/switch_on.png") no-repeat center center;
    background-size: 100%;
}

.switch.off {
    background: url("../img/switch_off.png") no-repeat center center;
    background-size: 100%;
}


.bulb {
    height: 8em;
    width: 6em;
}

.bulb.on {
    background: url("../img/bulb_on.png") no-repeat center center;
    background-size: 100%;
}

.bulb.off {
    background: url("../img/bulb_off.png") no-repeat center center;
    background-size: 100%;
}


.wire {
    height: 2em;
    width: 2em;
}

.wire.on {
    background: url("../img/wire_on.png") no-repeat center center;
    background-size: 100%;
}

.wire.off {
    background: url("../img/wire_off.png") no-repeat center center;
    background-size: 100%;
}


.bomb {
    height: 6em;
    width: 6em;
}

.bomb.on {
    background: url("../img/bomb_on.png") no-repeat center center;
    background-size: 100%;
}

.bomb.off {
    background: url("../img/bomb_off.png") no-repeat center center;
    background-size: 100%;
}


.vertical {
    transform-origin: center center;
    transform: rotate(90deg);
}